<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="src/test/phpunit/Util/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true"
         beStrictAboutOutputDuringTests="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory>src/client</directory>
      <directory>src/cache</directory>
      <directory>src/config</directory>
      <directory>src/lib</directory>
      <directory>src/web</directory>
      <directory>src/vendor</directory>
      <directory>src/test</directory>
      <directory>src/plugins/**/test</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Admin">
      <directory>src/plugins/kdinfovisionAdminPlugin/test</directory>
    </testsuite>
    <testsuite name="Authentication">
      <directory>src/plugins/kdinfovisionAuthenticationPlugin/test</directory>
    </testsuite>
    <testsuite name="Core">
      <directory>src/plugins/kdinfovisionCorePlugin/test</directory>
    </testsuite>
    <testsuite name="Leave">
      <directory>src/plugins/kdinfovisionLeavePlugin/test/Dao</directory>
      <directory>src/plugins/kdinfovisionLeavePlugin/test</directory>
    </testsuite>
    <testsuite name="Pim">
      <directory>src/plugins/kdinfovisionPimPlugin/test</directory>
    </testsuite>
    <testsuite name="OAuth">
      <directory>src/plugins/kdinfovisionCoreOAuthPlugin/test</directory>
    </testsuite>
    <testsuite name="Time">
      <directory>src/plugins/kdinfovisionTimePlugin/test</directory>
    </testsuite>
    <testsuite name="Attendance">
      <directory>src/plugins/kdinfovisionAttendancePlugin/test</directory>
    </testsuite>
    <testsuite name="Maintenance">
      <directory>src/plugins/kdinfovisionMaintenancePlugin/test</directory>
    </testsuite>
    <testsuite name="I18N">
      <directory>src/plugins/kdinfovisionI18NPlugin/test</directory>
    </testsuite>
    <testsuite name="Performance">
      <directory>src/plugins/kdinfovisionPerformancePlugin/test</directory>
    </testsuite>
    <testsuite name="Recruitment">
      <directory>src/plugins/kdinfovisionRecruitmentPlugin/test</directory>
    </testsuite>
    <testsuite name="Directory">
      <directory>src/plugins/kdinfovisionCorporateDirectoryPlugin/test</directory>
    </testsuite>
    <testsuite name="CorporateBranding">
      <directory>src/plugins/kdinfovisionCorporateBrandingPlugin/test</directory>
    </testsuite>
    <testsuite name="Dashboard">
      <directory>src/plugins/kdinfovisionDashboardPlugin/test</directory>
    </testsuite>
    <testsuite name="LDAP">
      <directory>src/plugins/kdinfovisionLDAPAuthenticationPlugin/test</directory>
    </testsuite>
    <testsuite name="Buzz">
      <directory>src/plugins/kdinfovisionBuzzPlugin/test</directory>
    </testsuite>
    <testsuite name="Claim">
      <directory>src/plugins/kdinfovisionClaimPlugin/test</directory>
    </testsuite>
    <testsuite name="Help">
      <directory>src/plugins/kdinfovisionHelpPlugin/test</directory>
    </testsuite>
    <testsuite name="Mobile">
      <directory>src/plugins/kdinfovisionMobilePlugin/test</directory>
    </testsuite>
    <testsuite name="OpenId">
      <directory>src/plugins/kdinfovisionOpenidAuthenticationPlugin/test</directory>
    </testsuite>
  </testsuites>
</phpunit>
